.dws-wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container-box {
    display: flex;
    min-width: 1200px;
    height: 500px;
    border: 1px solid #d6d6d6;
    padding: 20px;
    cursor: pointer;

}
.img-box {
    flex-grow: 1;
    background-size: 750px 500px;
    background-position: center;
    background-repeat: no-repeat;
    transition: 1s;
    filter: grayscale(1);
    opacity: 0.8;
    position: relative;
    overflow: hidden;


}
.img-box:hover {
    background-size: 900px 600px;
    flex-grow: 5;
    filter: grayscale(0);
    opacity: 1;

}
.left-right::before,
.top-bottom::before,
.left-right::after,
.top-bottom::after {
    content: "";
    position: absolute;
    background-color: #ffffff;
    opacity: 0.3;
    transition: 1s;
}
.left-right::before {
    width: 1px;
    height: 100%;
    top: 0;
    left: 10px;
}
.top-bottom::before {
    width: 100%;
    height: 1px;
    top: 10px;
    left: 0;
}
.left-right::after{
    width: 1px;
    height: 100%;
    bottom: 0;
    right: 10px;

}
.top-bottom::after {
    width: 100%;
    height: 1px;
    bottom: 10px;
    left: 0;
}
.img-box:hover .left-right::after,
.img-box:hover .left-right::before,
.img-box:hover .top-bottom::before,
.img-box:hover .top-bottom::after {
    transition: 1s;
    opacity: .7;
    transition-delay: 0.3s;
}
.img-box:hover .left-right::after {
    transform: translateY(-100%);
}
.img-box:hover .left-right::before {
    transform: translateY(100%);
}
.img-box:hover .top-bottom::before {
    transform: translateX(100%);
}
.img-box:hover .top-bottom::after {
    transform: translateX(-100%);
}
.content {
    color: #ffffff;
    background-color: #000;
    opacity: .7;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    text-align: justify;
    width: 70%;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 15PX;
    box-sizing: border-box;
    -webkit-transform: translateY(120%);
    -moz-transform: translateY(120%);
    -ms-transform: translateY(120%);
    -o-transform: translateY(120%);
    transform: translateY(120%);
    transition: 0.5s;

}
.img-box:hover .content {
    transform: translateY(0);
    transition-delay: 1s;
}
.content h2 {
    width: 0 0 5px;
    padding: 0;
    text-transform: uppercase;
    font-size: 26px;
    color: #00BFFF;
}
.content p {
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 1200px) {
    .container-images {
        min-width: 95%;
    }
}
@media only screen and (max-width: 480px) {
    .container-images {
        height: 250px;
    }
    .left-right::before {
        left: 5px;
    }
    .left-right::after {
        right: 5px;
    }
    .top-bottom::before {
        top: 5px;
    }
    .top-bottom::after {
        bottom: 5px;
    }
    .img-box {
        background-size: 450px 300px;
    }
    .img-box:hover {
        background-size: 525px 350px;
    }
    .content {
        width: 93%;
        padding: 10px;
    }
    .content h2 {
        font-size: 16px;
    }
    .content p {
        font-size: 12px;
    }
}
