@import './normalize';
@import './variable';
@import './mixin';
@import './bootstrap';
@import './slick';
@import './slider';
* {
    font-family: 'Noto Sans', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    font-size: 1rem;
}
body {
    margin: 0;
    padding: 0;
    color: var(--colorWhite, #ffffff);
    text-align: center;
    background-color: var(--color-bg, #f0f4fa);
    @media (min-width: 62em) {
        text-align: left;
    }
}
a {
    color: var(--colorWhite, #ffffff);
    text-decoration: none;
}
.link-nav {
    color: var(--colorWhite, #ffffff);
}
.link-header {
    color: var(--color-nav-block, #495160)!important;
}
.link:hover {
    color: var(--colorWhite, #ffffff);
}
.flexSB {
    @include flexSB;
}
.flex-end {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    @media (min-width: 36em) {
        @include flex-end;
    }  
}
img {
    max-width: 100%;
}
.flexible {
    @include flexible;
}
.flex-start {
    @media (min-width: 36em) {
        @include flex-start;
    } 
}
.bg-block {
    background-color: var(--color-nav-block, #495160);
}
ul > li {
    list-style: none;
}
button {
    color: var(--colorWhite, #ffffff) !important;
}
.btn:focus {
    box-shadow: none;
}
.btn-new {
    background-color: var(--color-nav-block, #495160);
    
}
.filter {
    filter: brightness(60%);
}
.link-hover:hover {
    background-color: none;
    color: var(--color, #f96412) !important;
    text-decoration: none;
}
.m-r {
    margin-right: 0.7em;
    @media (min-width: 36em) {
        margin-right: 2em;
    }

}
@import './block/nav';
@import './block/header';
@import './block/slider';
@import './block/main';
@import './block/tabs';
@import './block/footer';